<div class="gcb-col-55">

  <!--FIXME: Add the course title here.-->
  <h1 class="product-headers">All about python</h1>

  <!--FIXME: Add the course blurb here.-->
  <h2 class="product-headers">It is a online course about pratical python skill and knowledge.
  We wish this one can be good start point for you as Python developer or QA engineer.
  </h2>

  <!--FIXME: Add details about the instructor here.-->
  <h2 class="bio-headers">John<br>engineer<br>self-employeed</h2>

</div>

<div class="gcb-col-5">

  <!--FIXME: Add an introduction video or banner picture for your course here.-->
  <!--<img height="300" src="/assets/img/banner1.png">-->
  <iframe width="460" height="300" src="http://www.youtube.com/embed/gPm67G4rIjQ?rel=0"
   frameborder="0" allowfullscreen></iframe>

</div>

